---
layout: default
---

<div class="heading" id="html">
    <h2>HTML</h2>
</div>

<div class="section" id="html-syntax">
    <div class="col">
        <h3>Syntax</h3>
        <h4>Tab Indent</h4>
        <ul>
            <li>Use soft tabs with two spaces—they're the only way to guarantee code renders the same in any environment.</li>
            <li>Nested elements should be indented once (two spaces).</li>
        </ul>
        <h4>Markup</h4>
        <ul>
            <li>Always use double quotes, never single quotes, on attributes.</li>
            <li>Don't include a trailing slash (/) in self-closing elements like <code>input</code>, <code>img</code> because it's optional.</li>
        </ul>
    </div>
    <div class="col">
        {% highlight html %}{% include html/syntax.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-attribute-order">
    <div class="col">
        <h3>Attribute order</h3>
        <p>HTML attributes should come in this particular order for easier reading of code.</p>
        <ol>
            <li><code>class</code></li>
            <li><code>id</code>, <code>name</code></li>
            <li><code>data-*</code></li>
            <li><code>src</code>, <code>for</code>, <code>type</code>, <code>href</code>, <code>value</code></li>
            <li><code>title</code>, <code>alt</code></li>
            <li><code>role</code>, <code>aria-*</code></li>
        </ol>
        <p>Classes make for great reusable components, so they come first. Ids are more specific and should be used sparingly (e.g., for in-page bookmarks), so they come second.</p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/attribute-order.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-boolean-attributes">
    <div class="col">
        <h3>Boolean attributes</h3>
        <p>A boolean attribute is one that needs no declared value. XHTML required you to declare a value, but HTML5 has no such requirement.</p>
        <p>For further reading, consult the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#boolean-attributes">WhatWG section on boolean attributes</a>:</p>
        <blockquote>
            <p>The presence of a boolean attribute on an element represents the true value, and the absence of the attribute represents the false value.</p>
        </blockquote>
        <p>If you <em>must</em> include the attribute's value, and <strong>you don't need to</strong>, follow this WhatWG guideline:</p>
        <blockquote>
            <p>If the attribute is present, its value must either be the empty string or [...] the attribute's canonical name, with no leading or trailing whitespace.</p>
        </blockquote>
        <p><strong>In short, don't add a value.</strong></p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/boolean-attributes.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="html-reducing-markup">
    <div class="col">
        <h3>BEM markup</h3>
        <p>To avoid nesting classes, the mixin between global class and BEM (Block Element Modifier) is highly recommend.</p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/reducing-markup.html %}{% endhighlight %}
    </div>
</div>

<div class="section" id="button-in-form">
    <div class="col">
        <h3>Using button in form</h3>
        <p>Avoid using <code>input type="submit"</code> and replace it with <code>button</code> tag inside form.</p>
    </div>
    <div class="col">
        {% highlight html %}{% include html/form-markup.html %}{% endhighlight %}
    </div>
</div>