.hero__item {
  @extend .headline;
  width: 100%;
  /*
    Keep to use @media inside class in SCSS
    Keep mobile first: mobile, then other large screen
   */
  @media (min-width: 25em) {
    width: 50%;
  }
  @media (min-width: 30em) {
    width: 25%;
  }
}