/*
Keep the code clean with BEM
Avoid nesting if needed until it must be
The BAD example is below
*/

.header__menu {
  .menu-item {
    a {
      color: $c-blue;
      &:hover {
        color: $c-black;
      }
    }
  }
}

/* Optimization for BETTER code */

.header__menu {}
.header__menu-item {}
.header__menu-link {
  color: $c-blue;
  &:hover {
    color: $c-black;
  }
}
