/* Multiple declarations, one per line */
.button {
  display: inline-block;
  padding: 15px 20px;
  background-color: black;
}
/*
  These below buttons use same class .button, extend only single declaration
*/
.button--red { background-color: red; }
.button--blue { background-color: blue; }

/* But keep multiple lines if it extends more than one declaration */

.button-outline {
  @extend .button;
  background-color: none;
  color: black;
}