/*
  Add 1 space between class and { tag
  Bad is .hero__headline{
*/

.hero__headline {
  /*
    Add 1 space after :
    Bad is display:block;
   */
  display: block;
  /*
    Add ; to the end of row
    Bad is margin-bottom: 1em
   */
  margin-bottom: 1em;
  padding: 15px;
  background-color: rgba(0,0,0,.5);
  /*
  The close } tag should be in a single row
   */
}
